<td>
  <table style='width:100%'>
    <tr><td style='font-weight:bold;'><%= address_form.label :address_line1, 'Address Line 1 : ' %></td><td><%= address_form.text_field :address_line1 %></td></tr>
    <tr><td><%= address_form.label :address_line2, 'Address Line 2 : ' %></td><td><%= address_form.text_field :address_line2 %></td></tr>
    <tr><td><%= address_form.label :address_line3, 'Address Line 3 : ' %></td><td><%= address_form.text_field :address_line3 %></td></tr>
    <tr><td style='font-weight:bold;'><%= address_form.label :city, 'City : ' %></td><td><%= address_form.text_field :city %></td></tr>
    <tr><td style='font-weight:bold;'><%= address_form.label :pincode, 'Pin Code : ' %></td><td><%= address_form.text_field :pincode %></td></tr>
    <tr><td style='font-weight:bold;'><%= address_form.label :state, 'State : ' %></td><td><%= address_form.text_field :state %></td></tr>
    <tr><td style='font-weight:bold;'><%= address_form.label :country, 'Country : ' %></td><td><%= address_form.text_field :country %></td></tr>
  </table>
</td>