<td>
  <table style='width:100%'>
    <tr><td style='font-weight:bold;'><%= contact_detail_form.label :phone_type, 'Phone Type : ' %></td><td><%= contact_detail_form.text_field :phone_type %></td></tr>
    <tr><td><%= contact_detail_form.label :country_code, 'Country Code : ' %></td><td><%= contact_detail_form.text_field :country_code %></td></tr>
    <tr><td><%= contact_detail_form.label :city_code, 'City Code : ' %></td><td><%= contact_detail_form.text_field :city_code %></td></tr>
    <tr><td style='font-weight:bold;'><%= contact_detail_form.label :phone_number, 'Phone Number : ' %></td><td><%= contact_detail_form.phone_field :phone_number %></td></tr>
  </table>
</td>